@font-face { font-family: Ogg;
   src: url(https://files.jcink.net/uploads2/resin/Ogg_Roman.otf); }
 
 
 @font-face { font-family: Ogg ital;
   src: url(https://files.jcink.net/uploads2/resin/Ogg_Italic.otf); }
 
 
 @font-face { font-family: Ogg thin;
   src: url(https://files.jcink.net/uploads2/resin/CopyrightSharpTypeCoThisfontislicensedforwebuseonly.ttf); }
 
 @font-face
 {
 font-family: Romana;
 src: url(https://files.jcink.net/uploads2/resin/romanan.ttf);
 }
 
 @font-face { font-family: Consolas;
   src: url(https://files.jcink.net/uploads2/resin/CONSOLA_TTF.ttf); }
 
 @font-face { font-family: Bodoni;
   src: url(https://files.jcink.net/uploads2/resin/BodoniModa_VariableFont_opsz_wght.ttf); }
 
 
 
 
 
 .header { 
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    backdrop-filter: blur(1.5px)  grayscale(50%);

    
    width: 100%;
    z-index: 10;
  }
 
 
 
 .headersm { 
  color: rgba(217, 205, 189, 1.0);
    font-family: Ogg;
    text-transform: uppercase;
    text-align: center;
  }
 

 
 .headerlg { 
    color: #ded9d2;
    margin: auto;
    opacity: 1.0;
    font-family: Ogg;
    font-weight: 100;
    text-align: center;
    font-size: 60%;
    text-transform: none;
    vertical-align: middle; 
    display: inline-block; 
    border-bottom: 2px solid #bba283;

 }
 
 .headerO { 

    color: #ded9d2;
    opacity: 0.94;
    font-family: Ogg;
    

    font-size: clamp( 3rem, 10vw + 2.5rem , 6rem ); /*set avg, and max later
    /* font-size: 4rem; */
    text-align: center;
    /* letter-spacing: -10px; */
    text-transform: none;
    vertical-align: middle;
    display: inline;
    text-wrap: nowrap;
    line-height: 0;
    margin-top: 2%;
    flex: 0;

  }
  
  .headersm p {
    margin-top: 3%;
    font-size: 70%;
  }
 

  @media (min-width: 768px) {
    .headerO {
      font-size: clamp( 3rem, 15vw + 4.5rem , 7rem ); 
    }
  }
  @media (min-width: 1040px) {
        .headerO {
      font-size: clamp( 6rem, 100vw + 6.5rem , 10rem ); 
    }
  }